*{
    box-sizing: border-box;
}

.header{
   width: 100%;
   background-color: #eeeeee;

}

.section{
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    padding: 1px;
    color: #8e8e8e;
    margin: 4px;
    position: relative;
}

.section .section-name {
    color: #8e8e8e;
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

.section .sub-section {
    position: absolute;
    background-color: #eeeeee;
    padding: 10px;
    width: 100%;
    top: 26px;
    left: 0;
    width: 150px;
    display: none;
}

.section .sub-section .sub-section-name {
    display: block;
    text-decoration: none;
    color: #8e8e8e;
    margin: 15px;
}

.section:hover .sub-section{
    display:block;
}